.btn {
  border: none;
  padding: 8px 16px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.btn-add {
  background-color: #28a745;
  color: white;
}

.btn-delete {
  background-color: #dc3545;
  color: white;
}
body{

  background-color: aliceblue;
    
}


hr {
  width: 90vw;
  border: none;
  height: 1px;
  background-color: black;
  margin: 2rem auto; 
}
h2 {
  text-align: center;

  font-size: 2rem;
  margin-bottom: 30px;
  position: relative;
  color: var(--textColor);
}
h2::after {
  content: '';
  display: block;
  width: 60px;
  height: 4px;
  background-color: #7f5fff;
  margin: 8px auto 0;
  border-radius: 2px;
}
.light {
  background-color: #f9fafb; /* Light grayish white */
  --textColor: #111827;       /* Almost black (cool tone) */
  --containerBackground: #ffffff; /* True white for cards */
  --containerTextColor: #1f2937;  /* Dark slate */
}
.dark {
  background-color: #1e1e2f;         /* Deep indigo-gray */
  --textColor: #f8f8f2;              /* Soft white */
  --containerBackground: #2c2c3e;    /* Slightly lighter for cards */
  --containerTextColor: #e5e5e5;     /* Gentle white-gray */
}

*{
  transition: all 0.5s ease-in;
}