.sections {

  width: 40vw;
  height: 80vh;
  text-align: center;

}
.dashboard{
  width: 100vw;
  height: 90vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10vh;
  

}
#profileimg{
  border-radius: 50%;
  height: 20vh;
  width: 20vh;
  margin: 2vh;

}