/* EducationCard.css */
.education-card {
  background: #ffffff;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  padding: 20px 24px;
  margin: 16px 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  margin-top: 5vh;
  width: 35vw;


  overflow: hidden;
  box-shadow:
    5px 5px 0px #d8b4fe,
    10px 10px 0px #c084fc,
    15px 15px 0px #9333ea,
    20px 20px 0px rgba(147, 51, 234, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.education-card:hover {
  transform: scale(1.03);
  box-shadow:
    4px 4px 10px #c084fc,
    8px 8px 20px #9333ea;
}

.education-card h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #2e2e2e;
}

.education-card p {
  font-size: 0.95rem;

  margin: 6px 0;
}

.education-card strong {
  color: #333;
}
