/* Skills.css */
.container-skills {

  min-height: 100vh;
  position: relative;
  left: 0%;

  
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
 
 
  
}
.skills-header{
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;

}
