/* ImageBox.css */
.Simage {
    display: inline-block;
    margin:1vw; /* Add spacing between images */
    text-align: center;
}

/* Styling the image */
#skillimage {
    height: 15vh; /* Make the image smaller */
    width: 15vh; /* Set both width and height to make it square */
    object-fit: contain; /* Ensures the image fits within the container */
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.430);
    transition: transform 0.3s ease; /* Smooth transition effect */
}

#skillimage:hover {
    transform: scale(1.1); /* Scale up the image slightly on hover */
}
