.card {
    margin-top: 1vw;
    transition: all 1s ease; /* Smooth transition for all properties */
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3); /* Subtle shadow for the normal state */
  }
  
  .card:hover {
   
    background-color: #f0f0f0; /* Optional: Change background color */
    transform: scale(1.05); /* Slight scaling for a pop-out effect */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.6); /* Stronger shadow on hover */
  }
  .rounded-start {
    object-fit: contain !important;
    height:100%
  }
  .pi{
    text-decoration: none;
  }