.projects {
  min-height: 100vh;
  text-align: center;
  padding: 2rem 1rem;
  position: relative;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}