/* Skills.css */
.container-skills {

  min-height: 100vh;
  width: 70%;
  position: relative;
  left: 0%;

  
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

 
  
}
.skills-header{
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;

}
